@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.location__ {
  &container {
    @include boxSize(100%, 100%);
    @include flexContainer(flex, center, center, column);
    background-color: $whitePure;
    grid-area: map;
  }

  &title {
    margin-bottom: 30px;

    @include mediaquerie(laptop) {
      padding-top: 30px;
    }
  }

  &map {
    @include boxSize(unset, 80%);

    @include mediaquerie(tablet) {
      width: 430px;
    }
  }
}
