@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.location__ {
  &container {
    @include boxSize(100%, 100%);
    @include flexContainer(flex, center, center, column);
    padding: 30px;
    background-color: $whitePure;
  }

  &title {
    margin-bottom: 30px;
  }

  &map {
    @include boxSize(unset, 100%);

  }
}

