@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.main__ {
  &container {
    @include boxSize(100%, 100%);
    @include flexContainer(flex, center, center, column);
    padding-top: 90px;
    background-color: $whitePure;

    @include mediaquerie(tablet) {
      padding-top: 0px;
    }
  }
}

.description__ {
  &container {
    @include flexContainer(flex, flex-start, flex-start, column);
    width: 100%;
    line-height: 2;
    padding: 30px;
    margin-bottom: -100px;

    @include mediaquerie(tablet) {
      height: 300px;
      margin-bottom: 0px;
    }
  }

  &title {
    margin-bottom: 10px;
  }
}

.quick-stats__ {
  &container {
    width: 100%;
    background-color: $whitePure;

    @include mediaquerie(tablet) {
      @include gridContainer(
        grid,
        1fr 1fr,
        300px 300px 300px,
        'line doughnut' 'pie bar' 'map map'
      );
    }
  }
}
