@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.main__ {
  &container {
    @include boxSize(100%, 100%);
    @include flexContainer(flex, center, center, column);
    padding-top: 90px;
    background-color: $whitePure;
  }
}

.description__ {
  &container {
    @include boxSize(unset, 100%);
    @include flexContainer(flex, flex-start, flex-start, column);
    line-height: 2;
    padding: 30px;
    margin-bottom: -100px;
  }

  &title {
    margin-bottom: 10px;
  }
}

.quick-stats__ {
  &container {
    background-color: $whitePure;
    @media all and (min-width: $tablet) {
      @include flexContainer(flex, center, center, row wrap);
    }
  }
}

svg#curveDownWhite {
  @include boxSize(80px, 100%);
  z-index: 1;
  position: relative;
  top: 80px;
}

#curveDownWhite path {
  fill: $whitePure;
  stroke: $whitePure;
}
