@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.satisfaction__ {
  &container {
    @include boxSize(unset, 100%);
    text-align: start;
    background-color: $aquaPrimaryLight;
    padding: 30px;
    margin-top: -3px;
    text-align: center;
    grid-area: 'pie';
  }

  &title {
    padding-bottom: 30px;
  }
}

svg#curveUpPie {
  @include boxSize(90px, 100%);
  margin-top: -80px;
  z-index: 1;
}

#curveUpPie path {
  fill: $aquaPrimaryLight;
  stroke: $aquaPrimaryLight;
}

svg#curveDownPie {
  @include boxSize(80px, 100%);
}

#curveDownPie path {
  fill: $aquaPrimaryLight;
  stroke: $aquaPrimaryLight;
}

#pie {
  margin: 0 auto;
  width: 260px !important;
  height: 130px !important;
}
