@mixin flexContainer($display, $justifyContent, $alignItems, $flexFlow) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-flow: $flexFlow;
}

@mixin gridContainer($display, $gridTempCol, $gridTempRows, $gridTempAreas) {
  display: $display;
  grid-template-columns: $gridTempCol;
  grid-template-rows: $gridTempRows;
  grid-template-areas: $gridTempAreas;
}

@mixin boxSize($height, $width) {
  height: $height;
  width: $width;
}

@mixin mediaquerie($point) {
  @if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == laptop {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1200px) { @content; }
  }
}
