//FONT-TYPE
$font-primary: 'Lato', sans-serif;

//FONT-SIZE
$fontSizeXS: 12px;
$fontSizeS: 16px;
$fontSizeM: 18px;
$fontSizeL: 24px;
$fontSizeXL: 32px;
$fontSizeXXL: 40px;
$fontSizeXXXL: 50px;

//COLOURS
$aquaPrimary: #059e88;
$aquaMarine: #02938c;
$aquaBasic: #147f74;
$aquaDark: #215e54;
$whitePure: #ffffff;
$whiteMedium: #ecf0f1;

// MEDIA QUERIES
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
