//FONT-TYPE
$font-primary: 'Lato', sans-serif;

//COLOURS
$aquaPrimary: #059e88;
$aquaPrimaryTransparency: #059e879b;
$aquaPrimaryLight: #c7e4df;
$aquaPrimaryLightTransparency: #059e8734;
$aquaMarine: #02938c;
$aquaMarineTransparency: #02938cc4;
$aquaBasic: #147f74;
$aquaDark: #215e54;
$whitePure: #ffffff;
$whiteMedium: #ecf0f1;
$whiteMediumTransparency: #ecf0f1d0;
$grayBasic: #3c5752;
