@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.footer__ {
  &container {
    @include boxSize(unset, 100%);
    @include flexContainer(flex, center, center, row nowrap);
    background-color: $whiteMediumTransparency;
    padding: 10px;
    z-index: 3;
    grid-area: 'footer';
  }
}

svg#bigTriangleUp {
  @include boxSize(20px, 100%);
  pointer-events: none;
  z-index: 3;
  transform: rotate(180deg);
  margin-bottom: -3px;
}

#bigTriangleUp path {
  fill: $whiteMediumTransparency;
  stroke: $whiteMediumTransparency;
  stroke-width: 2;
}
